body{
    background-color: #252525;
    color: white;
}
h2{
    color: white;
}

.form-control{
    background-color: transparent;
    color: white;
}

.modal-content{
    background-color: #252525;
    color: white;
}

.modal-title{
    color: white;
}

.nav-link:hover{
    color: white;
}

.nav-linkModified:hover{
    color: black;
}